/* restautrantStyles.css*/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

#header{
  font-family: Permanent Marker, cursive;
  background-color: pink;
  color: ForestGreen;
}

#footer{
  font-family: Permanent Marker, cursive;
  background-color: pink;
  color: ForestGreen;
}

#pebsCarousel{
  font-family: Permanent Marker, cursive;
  color: ForestGreen;
}

p{
  color: teal;
  font-family: georgia;
}

selector:link
	a {
	 text-decoration: none;
	}
	a:link {
	 color: forestGreen;
	 text-decoration: none;
	}
	a:visited {
	 color: deepPink;
	}
	a:hover {
	 text-decoration: underline;
	 font-weight: bold;
	}
	a:active {
	 text-decoration: none;
	}